<!doctype html>
<html>
<head>
<script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>AndreiBot - Andrei Sarusi #Chatbot</title>

<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
}
body,td,th {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



</style>
</head>

<body>

<div style="width:100%; text-align:center;">

<div style="text-align:center; margin:0 auto; max-width:1000px;">
<div style="margin:0 auto; width:50%;"><div style="height:50px;"></div>
<h4 style="color:#5e5cf5; font-weight:100; line-height:1.5em;">AndreiBot #Chatbot</h4>
<div style="width:70%; margin:0 auto;"><img src="https://raw.githubusercontent.com/AndreiSarusi/AndreiBot/master/img/AndreiBot_Icon_large.png" width="100%" alt=""/></div>
<h1 style="color:#5e5cf5; font-weight:100;">Andrei Sarusi</h1>
<h4 style="color:#5e5cf5; font-weight:100; line-height:1.5em;">I'm a designer &amp; creative director.<br>
  Chat with my bot to learn more. </h4>

<!-- Facebook Messenger Button -->
<div style="width:60%; margin:0 auto;"><a href="http://m.me/andreisarusibot/"><img style="border:none;" src="https://raw.githubusercontent.com/AndreiSarusi/AndreiBot/master/img/AndreiBot_button2.gif" width="100%" alt="Chat on Messenger"/></a></div>

<!--<h5 style="color:#54D6FD; font-weight:200;">If I'm not very talkative,
please contact the non-robotic Andrei directly! <a style="color:#016988; text-decoration:none; font-weight:400;" href="mailto:info@andreisarusi.com">info@andreisarusi.com</a><br><br><span style="color:#54D6FD;">01000001 01101110 01100100 01110010 01100101 01101001 01000010 01101111 01110100</span>
</h5>-->
</div>


<div style="width:100%;">

<!--<div style="float:right; width:10%;"><br>&nbsp;<br>
</div>
<div style="float:right; color:#5e5cf5; width:20%;"><img src="https://raw.githubusercontent.com/AndreiSarusi/AndreiBot/master/img/downarrow.png" width="100%" alt=""/></div>-->
</div>
</div>
</div>
</body>
</html>
