<!doctype html>
<html>
<head>
<script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>

<meta charset="UTF-8">
<title>AndreiBot - Andrei Sarusi #Chatbot</title>

<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #02c2fc;
}
body,td,th {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
</style>
</head>

<body>

<div style="width:100%; text-align:center;">

<div style="margin:0 auto; width:50%;"><div style="height:50px;"></div>
<h1 style="color:#FFFFFF;">AndreiBot #Chatbot</h1>
<h3 style="color:#FFFFFF; font-weight:200;">Welcome, let's have a chat!
</h3>

<h5 style="color:#FFFFFF; font-weight:200;">If I'm feeling a tad under the weather or not very talkative, <br>
please contact the non-robotic Andrei directly! <a style="color:#016988; text-decoration:none; font-weight:400;" href="mailto:info@andreisarusi.com">info@andreisarusi.com</a><br><br><span style="color:#54D6FD;">01000001 01101110 01100100 01110010 01100101 01101001 01000010 01101111 01110100</span>
</h5>
</div>
</div>

<div style="width:100%;">

<div style="float:right; width:10%;">&nbsp;</div>
<div style="float:right; color:#FFFFFF; font-size:10em;">&#10549;</div>
</div>

</body>
</html>
